*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template: 
        "header header" 50px
        "main   main"   1fr /*alto de lo que queda coge todo*/
        "footer footer" 50px /
         1fr    1fr; /*aplica el ancho a todo*/
    gap: 10px; /*separación entre las columnas*/
    height: 100vh;
}

header{
    grid-area: header;
    background-color: #E7E9EB;
}

main{
    grid-area: main;
    background-color: #E7E9EB;
}

footer{
    grid-area: footer;
    background-color: #E7E9EB;
}